# Ignore Python caches and compiled files
*.py[cod]
__pycache__/
*.so

# Ignore virtual environments
env/
venv/

# Ignore local environment files
.env
.env.*.local

# Ignore git files
.git
.gitignore

# Ignore distribution and build directories
build/
dist/
*.egg-info/

# Ignore test files and coverage
.tox/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore IDE and editor settings
.idea/
.vscode/

# Ignore docker-compose override files
docker-compose.override.yml

